@model HelloWorld.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div>
        <form action="Submit" method="post">
            Customer Name <input name="CustomerName" type="text" /><br />
            Customer Code <input name="CustomerCode" type="text" /><br />
            <input id="Submit1" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
